@use 'src/styles/vars';

.backOffice {
  color: white;
  height: 100%;
}
.sideBar {
  position: fixed;
  width: 300px;
  min-height: 100vh;
  top: 0;
  background-color: vars.$secondary-color;
}

.backHeader, .backHomePage, .produits, .users, .addMeuble, .addWine, .addUser {
  padding-left: 350px;
}
