@use 'src/styles/vars';

.modal {
  background-color: #746851;
  height: 100vh;
  &__title {

  }
}


.editMeuble {
  background-color: #746851;
  font-family: 'Montserrat', sans-serif;
  padding-left: 5rem;
}
.editMeuble__title {
  font-size: 1.8em;
  padding: 2rem 0;
  color: vars.$secondary-color;
  text-transform: uppercase;
}
.add {
  &__form {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
  }
  &__label {
    font-weight: bold;
    font-size: 1.6rem;
    margin: 2rem 0;
    width: 90%;
    color: black;
  }
  &__label select {
    padding: 0.5rem 1rem;
    margin-left: 2rem;
    color: #746851;
    background-color: vars.$secondary-color;
    border: 1px solid black;
  }
  &__input {
    display: block;
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    border: 2px solid vars.$secondary-color;
    background-color: transparent;
    color: vars.$secondary-color;
    &:focus {
      background-color: vars.$secondary-color;
      color: vars.$main-color;
    }
    &::placeholder {
      color: vars.$secondary-color;
      opacity: 0.8;
    }
    &__description {
      height: 14rem;
      padding: 1rem;
      margin-top: 1rem;
      display: block;
      width: 100%;
      border: 2px solid vars.$secondary-color;
      background-color: transparent;
      color: vars.$secondary-color;
      &:focus {
        background-color: vars.$secondary-color;
        color: vars.$main-color;
      }
      &::placeholder {
        color: vars.$secondary-color;
        opacity: 0.8;
      }
    }
  }
  &__button {
    color: vars.$main-color;
    background-color: vars.$secondary-color;
    border: 2px solid #746851;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 15px;
    margin: 2rem auto;
    &:hover {
      background-color: vars.$main-color;
      color: vars.$secondary-color;
    }
    &__bis {
      color: vars.$main-color;
      background-color: vars.$secondary-color;
      border: 2px solid #746851;
      padding: 1rem;
      font-size: 1.3rem;
      font-weight: bold;
      border-radius: 15px;
      margin: 2rem auto;
    }
  }
}

.form__errors {
  color: red;
  font-size: 0.9em;
  margin-top: 1rem;
}
