@use 'src/styles/vars';

.dropdownSubCategories {
  &__text {
    font-size: 1.4rem;
    padding-left: 1rem;
    
  }
  &__presentation {
    display: flex;
    margin: 1rem 0 1rem 4rem;
    padding: 1rem;
  }
}

@media(min-width: 1024px) {
  .dropdown {
    max-width: 400px;
    position: absolute;

  }
  .dropdownSubCategories {
    &__text {
      font-size: 1.2rem;
      padding-left: 1rem;
      
    }
    &__presentation {
      display: flex;
      margin: 1rem 0 1rem 1rem;
      padding: 1rem;
    }
  }
}
