.dropdownTest {
  // position: absolute;
  // top: 75px;
  width: 300px;
  transition: width 500ms ease;
  // transform: translateY(45%);
  background-color:#242526;
  padding: 1rem;
  overflow: hidden;
  border-radius: 8px;
  transition: height 500ms ease;
}

.dropdownItem__list {
  color: #dadce1;
  height: 50px;
  display: flex;
  align-items: center; 
  padding: 0.5rem;
  border-radius: 8px;
}

.dropdownItem__list:hover {
  color: #484a4d;
}

.right__icon {
  margin-left: auto;
}

.menu-item {
  margin-left: 1rem;
}

.menu {
  width: 100%;
  cursor: pointer;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}
.menu-primary-exit {
  position: absolute;
  opacity: 0;
}
.menu-primary-exit-active {
  transform: translateX(110%);
  transition: all 500ms ease;
  opacity: 0;
}

.menu-secondary-enter {
  transform: translateX(-110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}
.menu-secondary-exit {

}
.menu-secondary-exit-active {
  transform: translateX(-110%);
  transition: all 500ms ease;
}
