@use 'src/styles/vars';

//version desktop
.cards {
  &__fourthSection__luminaire {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    background-color: vars.$secondary-color;
    font-family: 'MirageRegular', sans-serif;
    font-weight: 0.5;
    &__div {
      align-self: center;
      justify-self: center;
    }
    &__data {
      font-size: 1.2rem;
      
    }
    &__title {
      font-size: 0.8rem;
      color: rgba(255, 255, 255, 0.363);
    }
  }
}
