@use 'src/styles/vars';

.philosophy {
  // height: 100vh;
  // background-color: yellow;
  margin-bottom: 50rem;
  height: 33vh;
  &__article {
    display: flex;
    justify-content: center;
    // align-items: center;
    margin: auto;
    &__text {
      width: 40%;
      line-height: 1.2;
      margin-right: 2rem;
    }
    &__title {
      font-weight: bold;
      font-size: 2rem;
      text-transform: uppercase;
      margin: 0 auto 1rem;
      font-family: 'MirageRegular', sans-serif;
    }
    &__p {
      color: rgb(124, 122, 122);
    }
    &__image {
      // width: 30%;
      box-shadow: 10px 10px 20px rgba(0,0,0,0.6);
    }
  }
}

/* mobile version */
/* mobile version */
@media (max-width: 650px) {
  .philosophy {
    margin-top: 20rem;
    &__article {
      display: flex;
      flex-direction: column;
      &__image {
        width: 60%;
        order: 2;
        // height: 230px;
        // margin: auto;
        border-radius: 15px;
        margin: auto;
        margin-top: 2rem;
      }
      &__text {
        // width: 20%;
        padding: 1rem 1rem;
        font-size: 1.1rem;
        order: 1;
        width: 90%;
        margin: auto;
      }
      &__title {
        border-bottom: 1px solid rgb(124, 122, 122);
        text-align: center;
        padding-bottom: 1rem;
      }
      &__p {
        // text-align: center;
      }
  }
}
}


@media (min-width: 650px) and (max-width: 850px) {
  .philosophy {
    margin-top: 20rem;
    &__article {
      &__image {
        width: 40%;
        height: 350px;
        // height: 230px;
        // margin: auto;
        border-radius: 15px;
      }
      &__text {
        // width: 20%;
        padding: 1rem 1rem;
        font-size: 1.1rem;
      }
    }
  }
}

@media (min-width: 850px) and (max-width: 1024px) {
  .philosophy {
    margin-top: 20rem;
    &__article {
      &__image {
        width: 50%;
        // height: 230px;
        // margin: auto;
        border-radius: 15px;
      }
      &__text {
        // width: 20%;
        padding: 1rem 1rem;
        font-size: 1.1rem;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1150px) {
  .philosophy {
    margin-top: 20rem;
    &__article {
      &__image {
        width: 30%;
        // height: 230px;
        // margin: auto;
        border-radius: 15px;
      }
      &__text {
        // width: 20%;
        padding: 1rem 1rem;
        font-size: 1.1rem;
      }
    }
  }
}

@media (min-width: 1150px) and (max-width: 1300px) {
  .philosophy {
    margin-top: 20rem;
    &__article {
      &__image {
        width: 25%;
        // height: 230px;
        // margin: auto;
        border-radius: 15px;
      }
      &__text {
        // width: 20%;
        padding: 1rem 1rem;
        font-size: 1.1rem;
      }
    }
  }
}

@media (min-width: 1300px) and (max-width: 1850px) {
  .philosophy {
    margin-top: 20rem;
    &__article {
      &__image {
        width: 20%;
        // height: 230px;
        // margin: auto;
        border-radius: 15px;
      }
      &__text {
        // width: 20%;
        padding: 1rem 1rem;
        font-size: 1.1rem;
      }
    }
  }
}

@media (min-width: 1850px)  {
  .philosophy {
    margin-top: 20rem;
    &__article {
      &__image {
        width: 20%;
        // height: 230px;
        // margin: auto;
        border-radius: 15px;
      }
      &__text {
        // width: 20%;
        padding: 1rem 1rem;
        font-size: 1.4rem;
      }
    }
  }
}





// @media (min-width: 650px) and (max-width: 720px) {

// }

// @media (min-width: 720px) and (max-width: 1024px) {

// }

// @media (min-width: 1024px) and (max-width: 1200px) {

// }

// @media (min-width: 1200px) and (max-width: 1600px) {

// }

// @media (min-width: 1300px) and (max-width: 1850px) {
//   .philosophy {
//     margin-top: 10rem;
//     &__article {
//       &__image {
//         width: 20%;
//         // height: 230px;
//         // margin: auto;
//         border-radius: 15px;
//       }
//       &__text {
//         // width: 20%;
//         padding: 1rem 1rem;
//         font-size: 1.1rem;
//       }
//     }
//   }
// }
// @media (min-width: 1850px) {
//   .philosophy {
//     &__article {
//       &__text {
//         font-size: 1.4rem;
//       }
//     }
//   }
// }
