@use 'src/styles/vars';

.produits {
  color: white;
  background-color: #746851;
  &__flexButton {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 4rem;
    padding-right: 6rem;
  }
  &__button {
    color: vars.$main-color;
    background-color: vars.$secondary-color;
    border: 2px solid #746851;
    padding: 1rem;
    height: 100%;
    font-weight: bold;
    height: 80px;
    width: 180px;
    &:hover {
      background-color: #4b4334;
      color: vars.$secondary-color;
    }
  }
  &__title {
    font-size: 1.5em;
    // min-width: 250px;
    color: vars.$main-color;
    text-transform: uppercase;
    align-self: right;
    // margin-right: 58rem;
  }
}

.displayProduct {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 7rem;
  width: 650px;
  &__div {
    align-self: start;
    margin-top: 1rem;
  }
  &__image {
    height: 600px;
    width: 600px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    margin-right: 3rem;
  }
  &__titre {
    color: vars.$main-color;
    margin-top: -2rem;
  }
  &__table {
    margin-top: 4rem;
    margin-right: 3rem;
    border: 1px solid vars.$secondary-color;
    width: 650px;
    height: 200px;
    text-align: left;
    border-collapse: separate;
    border-spacing: 2px;
    &__button {
      color: vars.$secondary-color;
      background-color: vars.$main-color;
      border: 2px solid vars.$secondary-color;
      padding: 1rem;
      height: 100%;
      font-weight: bold;
      &:hover {
        background-color: vars.$secondary-color;
        color: vars.$main-color;
      }
    }
    &__lastChild {
      text-align: center;
      align-items: center;
    }
  }
  &__table th {
    color: vars.$main-color;
    background-color: #665a45;
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    padding: 1rem;
    border: 1px solid vars.$secondary-color;
  }
  &__table td {
    padding: 1rem;
    color: vars.$main-color;
    border: 1px solid vars.$secondary-color;
    font-size: 1.3em;
    line-height: 1.2em;
    vertical-align: middle;
    max-width: 500px;
    word-wrap: break-word;
  }
  &__button {
    color: vars.$main-color;
    background-color: vars.$secondary-color;
    border: 2px solid #746851;
    padding: 1rem;
    height: 100%;
    font-weight: bold;
    text-align: left;
    border-radius: 15px;
    &:hover {
      background-color: #4b4334;
      color: vars.$secondary-color;
    }
  }
}

.fixMargin {
  height: 5rem;
}


.ui.modal {
  height: 250px;
}


.ui.modal>.actions {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  padding-top: 3rem;
}
button.ui.blue.button {
  margin-left: 33rem;
}



@media (max-width: 1700px) {
  .displayProduct {
    width: 450px;
    &__div {
      align-self: start;
      margin-top: 1rem;
    }
    &__image {
      height: 450px;
      width: 450px;
      box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
      margin-right: 3rem;
    }
    &__table {
      width: 700px;
      height: 200px;
    }
  }
}

@media (max-width: 1600px) {
  .displayProduct {
    width: 450px;
    &__div {
      align-self: start;
      margin-top: 1rem;
    }
    &__image {
      height: 450px;
      width: 450px;
      box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
      margin-right: 3rem;
    }
    &__table {
      width: 600px;
      height: 200px;
    }
  }
}

@media (max-width: 1500px) {
  .displayProduct {
    width: 350px;
    &__div {
      align-self: start;
      margin-top: 1rem;
    }
    &__image {
      height: 350px;
      width: 350px;
      box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
      margin-right: 3rem;
    }
    &__table {
      width: 600px;
      height: 200px;
    }
  }
}

@media (max-width: 1364px) {
  .displayProduct {
    width: 350px;
    &__div {
      align-self: start;
      margin-top: 1rem;
    }
    &__image {
      height: 300px;
      width: 300px;
      box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
      margin-right: 3rem;
    }
    &__table {
      width: 550px;
      height: 200px;
    }
  }
}

@media (max-width: 1250px) {
  .displayProduct {
    width: 350px;
    margin-bottom: 60rem;
    display: flex;
    flex-direction: column;
    &__div {
      align-self: start;
      margin-top: 1rem;
    }
    &__image {
      height: 450px;
      width: 450px;
      box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
      margin-right: 3rem;
    }
    &__table {
      width: 650px;
      height: 200px;
    }
  }
}
