@use 'src/styles/vars';

.cards {
  &__thirdSection__deco {
    margin: 2rem 1rem;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__descriptif {
      font-size: 1.1rem;
      font-family: 'Montserrat', sans-serif;
    }
    &__dimension {
      margin-top: 2rem;
      // align-self: flex-end;
    }
    &__table {
      border: 1px solid vars.$secondary-color;
      border-collapse: separate;
      border-spacing: 2px;
      margin: auto;
    }
    &__table th {
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      vertical-align: middle;
      padding: 1rem;
      border: 1px solid vars.$secondary-color;
    }
    &__table td {
      padding: 1rem;
      border: 1px solid vars.$secondary-color;
      line-height: 1.2em;
      vertical-align: middle; 
      word-wrap: break-word;
    }
  }
}
