@use 'reset';
@use 'vars';

// body {
//   font-family: 'Montserrat', sans-serif;
// }


// or you can import your own font
// @font-face {
//   font-family: 'Montserrat';
//   src: url('../assets/fonts/Montserrat-Regular.ttf');
// }
// body {
//   font-family: 'Montserrat', sans-serif;
// }

// body, html {
//   font-family: 'Montserrat', sans-serif;
// }

p {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  background: grey;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(253, 8, 8, 0.3); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: white;
}
